<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤더-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Start CSS -->
    <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive Datatable CSS -->
    <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.css" rel="stylesheet" type="text/css">
    <!-- End CSS -->
</head>

<body class="xp-vertical" onload="initPage();">

<div class="xp-container">
    <!-- Start XP Leftbar -->
    <div class="xp-leftbar">
        <!-- Start XP Sidebar -->
        <div class="xp-sidebar">

            <!-- Start XP Logobar -->
            <div class="xp-logobar text-center">
                <a href="/admin" class="xp-logo"><img src="/images/0918.PNG" class="img-fluid" alt="logo"></a>
            </div>
            <!-- End XP Logobar -->

            <!-- Start XP Navigationbar -->
            <div class="xp-navigationbar">
                <ul class="xp-vertical-menu">
                    <li class="xp-vertical-header">ㅁ ㅔ 뉴 !</li>
                    <li></li>
                </ul>
            </div>
            <!-- End XP Navigationbar -->

        </div>
        <!-- End XP Sidebar -->
    </div>
    <!-- End XP Leftbar -->

    <div class="xp-rightbar">

        <div class="xp-topbar">
            <!-- Start XP Row -->
            <div class="row">

                <!-- Start XP Col -->
                <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                    <div class="xp-menubar">
                        <a class="xp-menu-hamburger" href="javascript:void();">
                            <i class="mdi mdi-sort-variant font-24 text-white"></i>
                        </a>
                    </div>
                </div>
                <!-- End XP Col -->
            </div>
            <!-- End XP Row -->

        </div>
        <!-- End XP Topbar -->

        <!-- Start XP Breadcrumbbar -->
        <div class="xp-breadcrumbbar text-center">
            <h4 class="page-title">0918 NineToSix 관리자 사이트</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Booster</a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bootstrap Table</li>
            </ol>

            <div class="text-right">
                <form method="POST" th:action="@{/logout}">
                    <input type="submit" class="btn btn-dark" value="로그아웃">
                </form>
            </div>
        </div>
        <!-- End XP Breadcrumbbar -->

        <div class="xp-contentbar">
            <th:block layout:fragment="content"></th:block>
        </div>

        <!-- Start XP Footerbar -->
        <div class="xp-footerbar">
            <footer class="footer">
                <p class="mb-0">© 2022 Booster - Designed with <i class="mdi mdi-heart-multiple text-danger"></i> by 우리들
                </p>
            </footer>
        </div>
        <!-- End XP Footerbar -->

    </div>
    <!-- End XP Rightbar -->
</div>
<!-- End XP Container -->

<!-- Start JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/detect.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/sidebar-menu.js"></script>

<!-- Required Datatable JS -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Buttons Examples -->
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/buttons.colVis.min.js"></script>

<!-- Responsive Examples -->
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>

<!-- Datatable init JS -->
<script src="/js/init/table-datatable-init.js"></script>

<!-- Main JS -->
<script src="/js/main.js"></script>
<!-- End JS -->

</body>
</html>

<script>
    function logout() {
        location.href = "/logoutProc";
    }
</script>