<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
    <!-- Start XP Row -->
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-lg-12">
            <div class="card m-b-30">

                <div class="card-header bg-white">
                    <h2 class="text-center text-black">관리자 목록</h2>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel & Note.</h6>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>이메일</th>
                                <th>이름</th>
                                <th>등록일</th>
                                <th>등록자</th>
                                <th>수정일</th>
                                <th>수정자</th>
                            </tr>
                            </thead>
                            <tbody id="tBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End XP Col -->

        <!--<div class="col-auto">
            <label for="keyword">
                <input type="text" class="form-control" id="keyword" placeholder="검색어">
            </label>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary mb-3" type="button" onclick="search()">검색</button>
        </div>

        <ul class="pagination justify-content-center" style="cursor : pointer" id="pagingParent"></ul>-->

    </div>
    <!-- End XP Row -->
</th:block>

</html>
<script type="text/javascript">
    const pageSize = 5;

    function initPage() {
        document.title = '관리자 목록'
        getAdmins(0);
    }

    function search() {
        getAdmins(0);
    }

    function getAdmins(page) {
        const params = {
            page: page,
            size: pageSize
        }

        $.ajax({
            url: "/api/v1/admins",
            method: "GET",
            contentType: 'application/json; charset=utf-8',
            data: params,
            dataType: "json",
            success: function (e) {
                console.log(e);
                const tBody = $('#tBody');
                const totalCount = e.totalElements;
                tBody.html("");

                if (e.content.length > 0) {
                    for (let i = 0; i < e.content.length; i++) {
                        const admin = e.content[i];
                        console.log(admin);
                        const tr = $("<tr>").css('cursor', 'pointer')
                            .attr('onClick', 'location.href="/admin/detail/' + admin.id + '"').appendTo(tBody);
                        $("<td>").addClass("align-middle").text(totalCount - (pageSize * page) - i).appendTo(tr);
                        $("<td>").addClass("align-middle").text(admin.email).appendTo(tr);
                        $("<td>").addClass("align-middle").text(admin.name).appendTo(tr);
                        $("<td>").addClass("align-middle").text(admin.insertDate).appendTo(tr);
                        $("<td>").addClass("align-middle").text(admin.insertId).appendTo(tr);
                        $("<td>").addClass("align-middle").text(admin.updateDate).appendTo(tr);
                        $("<td>").addClass("align-middle").text(admin.updateId).appendTo(tr);
                    }
                } else {
                    const tr = $("<tr>").appendTo(tBody);
                    $("<td>").addClass("textCenter").attr("colspan", "4").text("등록된 데이터가 없습니다.").appendTo(tr);
                }

                const pagingBody = $(".pagination");
                pagingBody.html("");

                let totalPageCnt = (totalCount % pageSize === 0) ? totalCount / pageSize : (totalCount / pageSize) + 1;
                totalPageCnt = parseInt(totalPageCnt);

                for (let i = 0; i < totalPageCnt; i++) {
                    const li = i === page ? $("<li>").addClass("page-item").addClass("active") : $("<li>").addClass("page-item");
                    li.append($("<a>").addClass("page-link").text(i + 1))
                        .bind("click", i, function (ee) {
                            const page2 = ee.data;
                            getAdmins(page2);
                        }).appendTo(pagingBody);
                }
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
</script>