<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body onload="initPage();">
    <h1>관리자 목록</h1>
</body>
</html>
<script type="text/javascript">
    const pageSize = 15;

    function initPage() {
        getAdmins(0);
    }

    function getAdmins(page) {
        /*
        // method "POST"
        const params = {
            page: page,
            size: pageSize
        }
        */

       $.ajax({
           method : "GET",
           url : "/api/v1/admins?page="+page+"&size="+pageSize,
           dataType: "json",
           success : function (result) {
               console.log(result);
           },
           error :function(e) {
           }
       });
    }
</script>