<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="/js/jquery.min.js"></script>
</head>
<body onload="initPage();">
    <h1>로 그 인 성 공 ! !</h1>
</body>
</html>
<script type="text/javascript">
    function initPage() {
       $.ajax({
           method : "GET",
           url : "/admins",
           dataType: "json",
           success : function (result) {
               console.log(result);
           },
           error :function(e) {
           }
       });
    }
</script>